
body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: url("https://www.gannett-cdn.com/presto/2018/12/29/PIND/5a2fb48d-e059-43f4-bb51-3ebc1d4eb8b6-12292018_HOF_WestviewCenterGrove_04.JPG?crop=2999,1687,x0,y58&amp;width=2999&amp;height=1687&amp;format=pjpg&amp;auto=webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

* {
  box-sizing: border-box;
}

.container {
  display:flex;
  justify-content:space-evenly;
  height: 100%;
  backdrop-filter: blur(5px);

}

h1 {
  font-size:500%;
  font-family: sans-serif;
  color: white;
  text-align: center;
}

h4 {
  font-family: sans-serif;
  color: white;
  text-align: center;
}

p {
  font-family: cursed_timer_ulilregular;
  text-align:center;
  font-size: 400%;
  color: red;
  border-style: solid;
  border-color: #0C4A6E;
  border-width: 3px;
  background-color: black;
  padding-top: 20%;
  padding-bottom: 20%;
  border-radius: 15px;
  width:100%;
}

button {
  font-size:180%;
  font-family: cursed_timer_ulilregular;
  color: white;
  border-color: #7DD3FC;
  border-radius: 10px;
  background-color: #0C4A6E;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 4%;
  padding-right: 4%;
  margin:5px;
}

@font-face {
    font-family: 'cursed_timer_ulilregular';
    src: url('font/cursedtimerulil-aznm-webfont.woff2') format('woff2'),
         url('font/cursedtimerulil-aznm-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
